/*/
json-fortran-8.2.5.wrap
dftd4.wrap
mstore.wrap
multicharge.wrap
s-dftd3.wrap
mctc-lib.wrap
xhcff
lammps*

!lwoniom
!gfn0
!toml-f
!gfnff
!tblite
!test-drive

!packagefiles
!packagefiles/tblite
!packagefiles/tblite/rm_app_test.patch
