[submodule "subprojects/gfn0"]
	path = subprojects/gfn0
	url = https://github.com/pprcht/gfn0.git
    branch = main
[submodule "subprojects/toml-f"]
	path = subprojects/toml-f
	url = https://github.com/toml-f/toml-f.git
    branch = main
[submodule "subprojects/gfnff"]
	path = subprojects/gfnff
	url = https://github.com/pprcht/gfnff
    branch = master 
